.contact-section {
    padding: 7rem 0;

    .contact-header {
        text-align: center;
        
        @include md {
            font-size: 3rem;
        }
    }
}

.form-container {
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
    border-radius: .4rem;
    padding: 0;
    margin: 0 1.5rem 0;
    background-color: white;

    @include md {
        padding: 0 1.5rem 0;
        margin: 0;
    }
    .contact-form {
        @include md {
            padding: 1rem 1.8rem 2rem 2.4rem;
        }
        fieldset {
            .form-row {
                padding: .8rem 1.3rem .2rem 1.7rem;
                flex-direction: column;
                border-bottom: .1rem solid hsl(0, 0, 90%);
                display: flex;
                justify-content: center;

                @include md {
                    flex-direction: row;
                    border: none;
                    padding: .4rem 0;
                }

                label {
                    font-weight: 600;
                    line-height: 2.6rem;
                    font-size: 1.4rem;
                    text-transform: uppercase;

                    @include md {
                        font-size: 1.7rem;
                        margin-right: 2rem;
                        flex: 32%;
                        margin-bottom: 0;
                        flex: 32%;
                        align-self: center;
                        text-transform: unset;
                    }
                }

                input,
                textarea {
                    border-radius: .4rem;
                    transition: all .15s;
                    border: none;
                    padding: .5rem 2rem .8rem 0;

                    @include md {
                        padding: .55rem 1.3rem .85rem;
                        flex: 68%;
                        background-color: hsl(210, 50%, 98%);
                    }
                    
                    &::placeholder {
                        font-size: 1.7rem;
                        line-height: 2.6rem;
                    }

                    &:focus {
                        background-color: hsl(0, 0%, 100%);
                    }
                }
            }

            .submit-row {
                padding: 1.2rem 1rem 1.3rem;

                @include md {
                    padding: 1.2rem 0 0;
                }
            }
        }
    }
}