<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">
    <title>FAQ</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <nav>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="faq.html">FAQ</a></li>
        </ul>
    </nav>

    <header class="faq-header">
        <h2 class="faq-header__title">Frequently Asked Questions</h2>
    </header>

    <section>
        <div class="container faq-container">
            <div class="faq-card">
                <div class="faq-card__question-content">
                    <div class="faq-card__question-block"></div>
                    <span class="faq-card__Q">Q.</span>
                    <h3>How long is the website building process?</h3>
                </div>

                <div class="faq-card__answer-content">
                    <div class="faq-card__answer-block"></div>
                    <span class="faq-card__A">A.</span>
                    <h3>This depends entirely on the project, but we estimate anywhere from 2 weeks up to 2 months.</h3>
                </div>
            </div>

            <div class="faq-card">
                <div class="faq-card__question-content">
                    <div class="faq-card__question-block"></div>
                    <span class="faq-card__Q">Q.</span>
                    <h3>Do you maintain the website after it is built?</h3>
                </div>

                <div class="faq-card__answer-content">
                    <div class="faq-card__answer-block"></div>
                    <span class="faq-card__A">A.</span>
                    <h3>Yes! This is entirely up to you though. We offer a monthly service fee to cover any maintenance.</h3>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__content container">
            <div class="footer__content__info">
                <div class="footer-section">
                    <h4>Contact</h4>
                    <ul>
                        <li>555-555-5555</li>
                        <li>apdesign@gmail.com</li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h4>Site Map</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/app.js"></script>
</body>
</html>